<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
  
<servlet>  
<servlet-name>Register1</servlet-name>  
<servlet-class>Register1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Register1</servlet-name>  
<url-pattern>/servlet/Register1</url-pattern>  
</servlet-mapping>  
  
<welcome-file-list>  
    <welcome-file>register.html</welcome-file>  
</welcome-file-list>  
  
</web-app>  